# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
m4/
.deps/
Makefile
configure
config.guess*
config.h
config.h.in
config.log
config.rpath
config.status
config.sub*
ltmain.sh
libtool
pornview.cbp
pornview.layout
ar-lib
ABOUT-NLS
po/ChangeLog
po/Makefile.in.in
po/Makevars
po/POTFILES
po/Rules-quot
po/stamp-po
stamp-h1

src/pornview
src/tags
src/tags.gtk

*~

*.o
*.lo
*.la
*.so
*.a
