[Desktop Entry]
Name=PornView
Comment=Photo/Movie collection manager
Exec=pornview
Icon=pornview
Terminal=false
Type=Application
Categories=GTK;Graphics;Viewer;
